*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #6A0682;
 } 


.login{
    margin:0 auto;
    text-align: center;
}

.img{
    width: 140px;
}


.div{
    width: 300px;
    margin: 0px auto;
}

input{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 7px 7px 7px 7px;
}
.a{
    background-color:#6F0063;
    padding: 5px 15px;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid pink;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px 7px 7px 7px ;
}




.tudo{
    border-radius: 10px;
    text-align: center;
    background-color:#B47AAE;
    padding: 30px;
    box-shadow: 0 0 10px rgb(98, 98, 98);
    width: 450px;
    height: 575px;
    margin:0 auto;
    margin-top: 90PX;
}
.label{
    text-align: center;
    text-shadow: 2px 2px 5px black , rgb(187, 0, 255);
    color: azure;
    text-shadow: 1px 1px 2px palevioletred;
}

h1{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;

}

.midia{
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: right;
    width: 100%;
  margin-bottom: 10px;
}

.tg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin-bottom: 50px;
}
h3{
    color: white;
    text-align: center;
}

div{
    text-align: center;
}
.sr{
    height: 70px;
    width: 80px;
    margin: 0px;
}
.ds{
    margin: 0px;
    text-align: 10px;
   
}
.hg{
    margin: 0px;
    margin-bottom: 10px;
    text-align: 10px;
}

.login1{
    background: rgba(217, 217, 217, 0.42);
    border-radius: 27px ;
     width: 300px;
     margin: 0 auto; 
     padding: 20px;
     display: flex;
     flex-direction: column;
     color:white;
     text-align: center;
     border: 2px solid white;
 }

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
    padding: 15px;
}


.logo-menu{
    display:flex;
    
}

.logo-menu > img{
    height: 60px;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
    padding: 10px;
}

a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color:black;
}
.botoes-menu{
 height: 10px;
 
}

.botoes-principal{
    height: 40px;
}

.botao-roxo{
    background-color:#6F0063;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 10px;
    font-size:  15px ;
    color: white;
 }
    

.botao-branco{
border: 1px solid black;
border-radius: 20px;
padding: 5px 10px;
font-size:  15px;
}

.botao-branco:hover{
    background-color: lightgray;
    transition: 0.5s;
    box-shadow: 2px 2px 2px gray;
}

.premium{
    color: white;
    font-size: 40px;
}

.sujeito{
    color: white;
    font-size: 18px;
    margin-bottom: 70px;
}

.botao-preto{
    background-color:#6F0063; ;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
}
.botao-preto:hover{
    background-color:#6A0682 ;
    transition: 0.5s;
    box-shadow: 2px 2px 2px gray;
}
.ki{
    display: flex;
 }
 .bty{
    color: white;
    background-color: #9F4CE0;
    padding: 3px 2px;
    text-decoration: none;
    border: 2px solid white;
    list-style: disc;
    display: inline;
    border-radius: 15px 15px 15px 15px;
 }

 .bh{
    background-color:#6A0682;
    background:solid ;
    border: 2px solid #FFFFFF;
    width: 125px;
    height: 40px;
    left: 108px;
    top: 90px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    

 }
 .cabecalho {
    background-color:rgba(255, 255, 255, 0.523);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    color: white;
   
}
.bp{
    width: 40px;
    height: 40px;
}
.bm{
    width: 40px;
    height: 50px;
}

.ol{
    background: rgba(217, 217, 217, 0.42);
    border-radius: 17px ;    
     margin: 0 auto; 
     display: flex;
     flex-direction: column;
     color:white;
     text-align: center;
     border: 2px solid white; 
     position: relative;   
    
}
.ol>img{
    border-radius: 17px;
}
.mi{
    width: 50px;
    position: absolute;
    top: 210px;
    right:15px;
}
.vb{
    width: 30px;
}
.lista-musicas{
    display: flex;
}
.ol > img {
    margin: 0;
}
main {
    margin-left: 20px;
}

.bn{
    border: 2px solid white;
    border-radius: 100px 100px 100px 100px;
    width: 60px;
    position: relative;
    right: -30px;
}

.yu{
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.749) ;
    border-radius: 9px 9px 9px 9px;
    text-align: center;
    width: 230px;
    height: 60px;
}

.botao-principal{

    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
} 
.botao-principal:hover{
    background-color:#6A0682 ;
    transition: 0.5s;
    box-shadow: 2px 2px 2px gray;
}
.filmes{
    display: flex;
    overflow: scroll;
    margin-bottom: 50px;
    gap: 10px;
    text-align: center;

}
.filmes::-webkit-scrollbar{
    display: none;
}
.filmes > img{
    max-width: 200px;
    border-radius: 10px;
}

.filmesAdd{
    max-width: 200px;
    border-radius: 10px;
    display: flex;
    overflow: scroll;
    margin-bottom: 50px;
    gap: 10px;  
    text-align: center;

}

.series{
    display: flex;
    overflow: scroll;
    margin-bottom: 50px;
    gap: 10px;
}
.series::-webkit-scrollbar{
    display: none;
}
.series > img{
    max-width: 200px;
    border-radius: 10px;
}

button{
    background-color:#6F0063; ;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    
}

select {
  margin: 0 auto ;
  margin-bottom: 20px;
  display: flex;
  border-radius: 7px 7px 7px 7px;
  width: 100%;
  height: 40px;
}




h1{
    color: #9F4CE0;
}
.avatar:hover{
    content: url(../img/giphy.gif);
}
.encanto:hover{
    content: url(../img/Encanto-GIF-Download.gif);
}
.velozes:hover{
    content: url(../img/brian.gif);
}
.luca:hover{
    content: url(../img/luca\ gif.gif);
}
.coisas:hover{
    content: url(../img/coisas.gif);
}
.gente:hover{
    content: url(../img/grande.gif);
    width: 400px;
}
.simples:hover{
    content: url(../img/simples\ gif.gif);
}
.culpamia:hover{
    content: url(../img/culpa1.gif);
}
.paris:hover{
    content: url(../img/paris.gif);
}

.charted:hover{
    content: url(../img/uncharted.gif);
}
.top:hover{
    content: url(../img/top\ gun.gif);
}
.moto:hover{
    content: url(../img/moto.gif);
}
.jurassic:hover{
    content: url(../img/jurassic\ gif.gif);
}
.depois:hover{
    content: url(../img/depois.gif);
}
.musica:hover {
    content: url(../img/musica.gif);
}
.culpa:hover {
    content: url(../img/culpa.gif);
}
.after:hover {
    content: url(../img/affter.gif);
}
.esposa:hover {
    content: url(../img/mentirinha.gif);
}
.atirador:hover {
    content: url(../img/atirador.gif);
}
.primeira:hover {
    content: url(../img/primeira.gif);
}
.patricinha:hover {
    content: url(../img/beverly-hills.gif);
}
.ventana:hover {
    content: url(../img/ventana.gif);
}
.diver:hover {
    content: url(../img/diver.gif);
}
.jogos:hover {
    content: url(../img/jogos.gif);
}
.espaco:hover {
    content: url(../img/espaco.gif);
}
.dança:hover {
    content: url(../img/ela.gif);
}
.rei:hover {
    content: url(../img/rei.gif);
}  
.burlesque:hover {
    content: url(../img/burlesque-christina-aguilera.gif);
}
.foot:hover {
    content: url(../img/foot.gif);
}
.hight:hover {
    content: url(../img/hight.gif);
}
.mamamia:hover {
    content: url(../img/mamma-mia-meryl-streep.gif);
}
.amor:hover {
    content: url(../img/amor2);
}
.notting:hover {
    content: url(../img/notting.gif);
}




.nine:hover{
    content: url(../img/991gif.gif.crdownload);
}
.suits:hover{
    content: url(../img/suits\ gif.gif.crdownload);
}
.chicago:hover{
    content: url(../img/chicago);
}
.rookie:hover{
    content: url(../img/rookie\ gif.gif);
}
.greys:hover{
    content: url(../img/greys.gif);
}
.swat:hover{
    content: url(../img/rondon.gif);
}
.prison:hover{
    content: url(../img/prison\ gif.gif);
}
.vida:hover{
    content: url(../img/verao.gif);
}
.gossip:hover{
    content: url(../img/Serena\ gif.gif);
}
.one:hover{
    content: url(../img/one.gif);
}
.banks:hover{
    content: url(../img/banks.gif);
}
.vampire:hover{
    content: url(../img/vampire.gif);
}
.brig:hover{
    content: url(../img/brig.gif);
}
.brig:hover{
    content: url(../img/brig.gif);
}
.mako:hover {
    content: url(../img/mako.gif);
}
.cuca:hover{
    content: url(../img/cuca.gif);
}
.lucifer:hover{
    content:url(../img/lucifer\ 2.gif) ;
}
.suits:hover{
    content:url(../img/suits2.gif) ;
}
.teen:hover {
    content: url(../img/teen.gif);
}
.elite:hover {
    content: url(../img/elitee.gif);
}
.jane:hover {
    content: url(../img/jane-the-virgin-petra-solano.gif);
}
.euforia:hover {
    content: url(../img/euforia.gif);
}
.peaky:hover {
    content: url(../img/peaky-blinders.gif);
}
.ponto:hover {
    content: url(../img/ponto\ cego.gif);
}
.lista:hover {
    content: url(../img/listaa.gif);
}
.doces:hover {
    content: url(../img/magnolia.gif);
}
.virgin:hover {
    content: url(../img/virgin2.gif);
}
.chesa:hover {
    content: url(../img/chesa.gif);
}
.bold:hover {
    content: url(../img/type.gif);
}
.you:hover {
    content: url(../img/you-show-joe-goldberg.gif);
}
.river:hover {
    content: url(../img/riverdale.gif);
}
.the:hover {
    content: url(../img/the\ big.gif);
}
.wandinha:hover {
    content: url(../img/wandinhaa.gif);
}


.up:hover {
    content: url(../img/cor.gif)
}
.toy:hover {
    content: url(../img/story.gif);
}
.carro:hover {
    content: url(../img/cars.gif);
}
.zoo:hover {
    content: url(../img/coelha.gif);
}
.rio:hover {
    content: url(../img/azul.gif);
}
.moana:hover {
    content: url(../img/moana-ocean.gif);
}
.wall:hover {
    content: url(../img/me-when.gif);
}
.meu:hover {
    content: url(../img/uni.gif);
}
.era:hover {
    content: url(../img/we-are-gonna-die-sid.gif);
}
.rato:hover {
    content: url(../img/gag-reflex-remy-ratatouille-4rccpdwh5uziciwm.gif);
}.dragao:hover {
    content: url(../img/dragoes_netflix_dreamworks.gif);
}
.masha:hover {
    content: url(../img/rosa.gif);
}
.bob:hover {
    content: url(../img/SZN1.gif);
}
.monica:hover {
    content: url(../img/cascao.gif);
}
.peppa:hover {
    content: url(../img/aaa.gif);
}
.mente:hover {
    content: url(../img/tristeza.gif);
}
.viva:hover {
    content: url(../img/love-you-lots.gif);
}
.bee:hover {
    content: url(../img/movie.gif);
}




.fe:hover {
    content: url(../img/rosane-svartman-carolina-dieckmann.gif);
}
.avenida:hover {
    content: url(../img/carminha.gif);
}
.dona:hover {
    content: url(../img/a-dona-do-pedaco-maria-da-paz.gif);
}
.mar:hover {
    content: url(../img/debora-bloch-mar-do-sertão.gif);
}
.salve:hover {
    content: url(../img/salve-jorge-heloísa-vieira-lacerda.gif);
}
.india:hover:hover {
    content: url(../img/tumblr_ns6mvhkotZ1qjlz54o5_250.gif);
}
.demais:hover {
    content: url(../img/novela-totalmente-demais.gif);
}
.alem:hover {
    content: url(../img/alem-da-ilusao.gif);
}
.:hover {
    content: url(../img/);
}
.:hover {
    content: url(../img/);
}
.:hover {
    content: url(../img/);
}
.:hover {
    content: url(../img/);
}
